.header2{
    font-weight: 900;
    font-size: 200%;
    margin-bottom: 4%;
}

.accordion{
    background-color: rgb(223, 223, 223);
}

.task-button{
    margin-left: 91%;
    margin-top: -15%;
}

.description{
    margin-top: 4%;
}