.announcements-button{
    margin-top: 5px;
    width: 100px;
}

.avatar{
    margin-left: 15px;
    margin-top: 15px;
}

.cardbody{
    height: 100%;
}

.formtextarea{
    margin-top: 5%;
}

.card{
    margin-top: 10%;
    margin-bottom: 10%;
}

.mb-3{
    margin-top: 5%;
}
