.createteam-button{
    margin-left: 15px;
}

.button2{
    margin-top: 2%;
    margin-left: 45%;
}

.category{
    margin-top: 12%;
}

.categoryB{
    margin-left: 15%;
}

.categoryC{
    margin-left: 15%;
}

.accordion{
    background-color: rgb(223, 223, 223);
}

.createteam-accordion{
    margin-top: 10%;
}
